.choices {
    display: flex;
    justify-content: space-around;
}

.options {
    border-style: dashed;
    border-color: lightskyblue;
    border-radius: 25px;
    padding: 1em;
    width: 25%;
    margin-bottom: 1em;
}

#placeOrder {
    background-color: orange;
    color: white;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.customOrders {
    margin: 1em;
    margin-left: 3rem;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray
}

.jewelry_type {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
}